.App,
html,
body {
  height: 100%;
  background-color: #e5e5e5;
  background-size: cover;
  font-family: "Oswald", sans-serif !important;
}

#root {
  height: 100%;
}

.viewport {
  height: 100%;
  overflow: hidden;
  background-color: #e5e5e5;
  background-size: cover;
}

.frame {
  transform: perspective(1500px) rotateY(10deg);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transition: transform 1s ease 0s;
}
.frame:hover {
  transform: perspective(3000px) rotateZ(10deg);
}

.emblem {
  height: 70px;
  width: 90px;
}
.login {
  width: 100%;
  height: 100%;
}
.banner {
  border: 20px;
  border-radius: 1rem;
  background-color: #fca311;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.candidate1 {
  width: 100%;
  text-align: center;
}

.bn32 {
  border-color: #14213d;
  padding: 0.6em 2.3em;
  cursor: pointer;
  font-size: 1em;
  color: #14213d;
  border-radius: 5px;
  background-image: linear-gradient(45deg, transparent 50%, #fca311 50%);
  background-position: 25%;
  background-size: 400%;
  -webkit-transition: background 500ms ease-in-out, color 500ms ease-in-out;
  transition: background 400ms ease-in-out, color 250ms ease-in-out;
}

.bn32:hover {
  color: #14213d;
  background-position: 100%;
}

.blur {
  backdrop-filter: blur(3px);
}

.reject {
  transform: perspective(800px) rotateY(10deg) scale(0.9) rotateX(10deg);
  filter: blur(1px);
  opacity: 0.5;
  transition: 0.6s ease all;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.reject:hover {
  transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg)
    scale(1);
  filter: blur(0);
  opacity: 1;
}
